 <section class="Informacion">
         <article class="Img">   
            <img src="assets/img/aladino.jpg">
         </article>
         <article class="Img2">
                <h2>Aladdín</h2>
                <h1>PELIS ANTHO</h1>
                <p>Siguenos para ver mas de la emblematica pelicula</p>
                <button>VER AHORA</button>
         </article>
</section>