<section class="Contactos">
            <article>
             <div>         
                        <li>DIRECCION</li>
                        <h3><p><span>San Jose/Pomasqui Av Guillermo Valdivieso</span></p> </h3>
                        <li>EMAIL</li>
                        <h3><p><a href="mailto:pelis_top@gmail.com">pelis_top@gmail.com</a></p></h3>
                        <li>TELEFONO</li>
                         <h3><p><a href="tel:099 5012 133">099 5012 133</a></p></h3>
                </div>
            </article>
</section>

           