<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Peliculas</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
</head>
<section class="Encabezado">
        <div>
            <header>
                <h2>Buscala y la encontraras</h2>
                <h1>PELIS ANTHO</h1>
                <button>EXPLORAR</button>
            </header>
        </div>
</section>
    <figure>
        <img src="assets/img/encabezado.jpg" alt="Encabezado">
    </figure>
