<section class="Productos">
        <article class="Pro1">
                <h2>PELICULAS</h2>
                <h1>ESTRENOS</h1>
                <p>Precios justos por lo mejor de lo mejor con un solo clic</p>
                <p>Adquiere tu pelicula a un precio razonable para 
                    poder ver en cualquier lugar la pelicula que 
                    tu deseas</p>
                  <br>
                   <button>Inventario</button>
        </article>-
        <article class="Pro2">
             <img src="assets/img/croods.jpg">
             {{Producto1}}
             <h2>8$</h2>
        </article>
        <article class="Pro3">
            <img src="assets/img/aquaman.jpg">
            {{Producto2}}
            <h2>10$</h2>
        </article>
        <article class="Pro4">
            <img src="assets/img/vengadores.jpg">
            {{Producto3}}
            <h2>12$</h2>
        </article>
    </section>-->